@import 'static/styles/common/vars.less';

.icon-describe {
  font-size: 14px !important;
  color: @DARK40 !important;
  cursor: pointer;
}

.sen_farming_v2-segmented {
  .sen_farming_v2-segmented-item {
    &-selected {
      box-shadow: none !important;
      border-radius: 8px;
      border: none;
      color: @PRIMARY100 !important;
    }
  }
}

.sen_farming_v2-card-hoverable:hover {
  animation: transformBoxShadow 3s linear infinite;
}

.sen_farming_v2-tooltip {
  &-arrow-content {
    --antd-arrow-background-color: #434342 !important;
  }
  &-inner {
    background-color: #434342 !important;
  }
}

@keyframes transformBoxShadow {
  0% {
    box-shadow: -4px -4px 16px 0 #a9ea7d8a, 4px 4px 16px 0 #58cffb8a;
  }
  25% {
    box-shadow: 4px -4px 16px 0 #a9ea7d8a, -4px 4px 16px 0 #58cffb8a;
  }
  50% {
    box-shadow: 4px 4px 16px 0 #a9ea7d8a, -4px -4px 16px 0 #58cffb8a;
  }
  75% {
    box-shadow: -4px 4px 16px 0 #a9ea7d8a, 4px -4px 16px 0 #58cffb8a;
  }
  100% {
    box-shadow: -4px -4px 16px 0 #a9ea7d8a, 4px 4px 16px 0 #58cffb8a;
  }
}

.space-middle-icon {
  .sen_farming_v2-space-item {
    display: flex;
  }
}
