.animation-banner {
  position: relative;
  .token {
    position: absolute;
    &.token-1 {
      width: 50px;
      height: 50px;
      background: #0db2d1;
    }
    &.token-2 {
      width: 25px;
      height: 25px;
      background: #d6a473;
    }
  }
}
.banner {
  background: linear-gradient(172deg, #f0ff00 0%, #58cffb 100%) !important;
  .icon-banner {
    position: absolute;
    right: 32px;
    bottom: 8px;
    z-index: 1;
  }
}

.banner-background {
  position: absolute;
  width: 100%;
  height: 100%;
}
